<div class="w-100 d-flex justify-content-center">
  <button type="button" class="termsOfUse mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Продолжая использовать сайт, вы подтверждаете свое согласие с Пользовательским соглашением.
  </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Пользовательское соглашение</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Условия использования сайта: <br>
        <br>
        1. Регистрируясь на данном сайте, пользователь соглашается с условиями настоящего пользовательского соглашения. <br>

        2. Администраторы сайта имеют право заблокировать любого пользователя за нарушение правил использования сайта или за другие неправомерные действия, которые противоречат законодательству. <br>

        3. Администраторы сайта имеют право редактировать, удалять обсуждения, которые нарушают правила использования сайта, не соответствуют теме обсуждения или нарушают законодательство. <br>

        4. Пользователь обязуется не размещать на сайте материалы, которые содержат нецензурную лексику, являются оскорбительными или дискриминационными, нарушают авторские права, содержат вирусы или другие программы, которые могут нанести вред другим пользователям или сайту в целом. <br>

        5. Пользователь обязуется не использовать сайт в любых незаконных целях, включая, но не ограничиваясь, распространением нелегального контента, мошенничеством или хакерскими атаками. <br>

        6. Пользователь соглашается с тем, что любая информация, которую он размещает на сайте, становится общедоступной и может быть использована другими пользователями. <br>

        7. Пользователь несет полную ответственность за любую информацию, которую он размещает на сайте, и обязуется не нарушать законы и правила использования сайта. <br>

        8. Администраторы сайта не несут ответственности за любые убытки или повреждения, которые могут возникнуть в результате использования сайта пользователем. <br>

        9. Пользователь соглашается с тем, что администраторы сайта имеют право изменять условия данного пользовательского соглашения в любое время без уведомления пользователя. <br>
      </div>
    </div>
  </div>
</div>
