.auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin-bottom: 10px;
}

.auth-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
