.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar {
  max-height: 45px !important;
  max-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  min-width: 45px;
  min-height: 45px;
  border-radius: 100px;
  object-fit: cover;
  margin-top: -5px;
}
